{% extends '_public_base.html.twig' %}

{% block title %}{{title}}{% endblock %}

{% block body %}

<div class="col-xl-4 col-md-5">
    <div class="card">

        <div class="card-body p-4">

            <div class="text-center w-75 mx-auto auth-logo mb-4">
                <a href="{{ path('security_home') }}">
                    <span><img src="https://placehold.co/708x120" alt="" height="22"></span>
                </a>
            </div>

            <h3 class="public-title">Bienvenue.</h3>
            {{ form_start(form) }}
                <div class="form-group mb-3">
                    <label class="form-label" for="emailaddress">Adresse Email</label>
                    <input class="form-control" type="email" id="emailaddress" required="" placeholder="john@gmail.com" name="{{ form.email.vars.full_name }}">
                </div>

                {#<div class="form-group mb-3">
                    <div class="">
                        <input class="form-check-input" type="checkbox" id="checkbox-signin" checked>
                        <label class="form-check-label ms-2" for="checkbox-signin">I accept <a href="#">Terms and Conditions</a></label>
                    </div>
                </div>#}

                <div class="form-group mb-0 text-center">
                    <button class="btn btn-primary w-100" type="submit"> Continuer </button>
                </div>

            {{ form_row(form._token) }}
            {{ form_end(form, {render_rest: false}) }}
            {% include '_partials/_oauth.html.twig' %}
        </div>
    </div>

    {#<div class="row mt-3">
        <div class="col-12 text-center">
            <p class="text-white-50">Already have an account ? <a href="pages-login.html" class="text-white font-weight-medium ms-1">Log In</a></p>
        </div> <!-- end col -->
    </div>#}
{% endblock %}
